#ConfigFuncionario {
    position: relative;
    min-height: 300px;
}

.botao-add {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.botao-add:hover {
    transform: scale(1.1);
}

h2 {
    font-size: 30px;
    padding-bottom: 20px;
}

.secao {
    display: none;
}

.secao.ativa {
    display: block;
}
