#campo, #campoNumeros, #campoFoto {
    font-size: 25px;
    margin-bottom: 20px;
}

#campo input,
#campoNumeros input,
#campoFoto input {
    height: 30px;
    padding: 3px;
    margin: auto;
    border: none;
    border-radius: 5px;
}

input[type="text"],
input[type="email"] {
    background-color: #23232e;
    color: #f5f5f5;
}
